# Primeiros Exemplos

In [ ]:
print('primeiro programa')
1 \
    + 2

help(print)

In [ ]:
1 + 1 + 3
4 + 5 + 5

# Tipos Básicos em Python

In [ ]:
print(True)
print(False)
print(1.2 +1)
print('Eu sou um String')
print("Posso usar aspas duplas.")
print('Você é ' + 3 * 'muito ' + 'legal!')
# print(3 + '3') Isso dará um erro. -> ambiguidade
print([1, 2, 3])  # Lista.
print({'nome' : 'Nobuyoshi', 'idade' : 32})  # Dicionário

# Variáveis

In [ ]:
a = 10
b = 5.2

print(a + b)

a = 'Agora sou uma String'

print(a)
b

#  Operadores Ternários

In [ ]:
esta_chuvendo = False
print('Hoje estou com as roupas ' + ('secas. ', 'molhadas.')[esta_chuvendo])

print('Hoje estou com as roupas ' + ('molhadas.' if esta_chuvendo else 'secas.'))

# Mais Operadores

In [ ]:
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Carla']
2 in lista
'Ana' not in lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
z is y
x is not z

# Builtins

In [ ]:
# type()
type(1)
__builtins__.type("Sou uma String")
__builtins__.print(10 / 3)

# help(dir)
dir()

# Conversão de Tipos

In [ ]:
2 + 2
'2' + '3'
# 2 + '3' Error

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

print(type(str(b)))

# print(2 + int('2 legal')) error

# Coerção Automática

In [ ]:
10 / 2
type(10 / 2)
10 // 3
type(10 // 3)
type(10 // 3.0)
2 + True
2 + False

# Números

In [1]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2, 3)

(-2).__abs__()
abs(-2)

2

# Números pt-2

In [10]:
#1.1 + 2.2 # Não é preciso
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))
dir(Decimal)

1.1 +  2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

Decimal('3.300000000')

# Strings

In [16]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0]
# nome[0] = 'P' # str é imutável

'S'

# Type Strings 2

In [36]:
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-3]
nome[-1]
nome[4:]
nome[-5:]
nome[:3]
nome[::-1]

numeros = '1234567890'
numeros
numeros[::]
numeros[::2]
numeros[1::2]
numeros[::-1]

nome[::-2]

'auPaA'

# Type Strings 3

In [49]:
frase = 'Python é uma linguagem excelente'
'py' in frase
'Py' in frase
len(frase)
frase.lower()
frase.upper()
frase.lower()
frase = frase.upper()

frase.split()
frase.split('A')

['PYTHON É UM', ' LINGU', 'GEM EXCELENTE']

# Type Strings 4

In [55]:
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)
len(a)
a.__len__()

3

# LISTAS

In [71]:
lista = []
type(lista)
dir(lista)
#help(list)
lista.append(1)
lista.append(2)

lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.reverse()
nova_lista
nova_lista.remove(5)
nova_lista

['Bia', 'Ana', 1]

# Listas 2

In [84]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')

1 in lista
'Rebeca' in lista
'Pedro' in lista
lista[0]
lista[4]
#lista[5]
lista[-1]
lista[-5]

1

#Listas 3

In [94]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3]
lista[1:-1]
lista[1:]
lista[:]
lista[::2]
lista[::-1]
del lista[2]
lista
del lista[1]
lista

['Ana', 'Paulo', 'Dani']

# Dicionário

In [110]:
pessoa = {'nome': 'Prof(a). Ana', 'idade' : 38, 'cursos' : ['Inglês, Espanhol']}
type(pessoa)
dir(dict)
len(pessoa)

pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos'][0]

pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('idade')
pessoa.get('tags')
pessoa.get('tags', [])

[]

# Set

In [120]:
a = {1, 2, 3}
type(a)
a = set('codddddddd3r')
print(a)
print('3' in a, 4 not in a)
{1,2,3} == {3,2,1,3}

# operacoes
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
#c1.update(c2)
c1
c2 <= c1
c1 >= c2

{1,2,3} - {2}

{'3', 'o', 'd', 'c', 'r'}
True True

{1, 3}

# Interpolação

In [129]:
nome, idade, peso = 'Ana', 30, 69.89

print('Nome: %s Idade: %d Peso: %.2f' % (nome, idade, peso)) # python < 3.6
print(f'Nome: {nome} Idade: {idade} Peso: {peso}')

Nome: Ana Idade: 30 Peso: 69.89
Nome: Ana Idade: 30 Peso: 69.89