In [1]:
print('Olá Mundo')

Olá Mundo

# Algumas Operações básicas com números inteiros.

In [3]:
numero_inteiro = 1234  # representação de numero inteiro
type(numero_inteiro)

int

In [4]:
numero_inteiro + 10

1244

In [5]:
numero_inteiro - 10

1224

In [6]:
numero_inteiro * 2

2468

In [7]:
numero_inteiro / 2

617.0

# Pontos Flutuantes

In [8]:
1.5 + 3.7

5.2

In [9]:
12e3 + 5e3

17000.0

In [11]:
2.5e-3 + 0.0025

0.005

# Números complexos

In [13]:
numero_complexo = 2 + 5j

In [14]:
numero_complexo + 3

(5+5j)

In [15]:
numero_complexo + 5j

(2+10j)

In [16]:
type(numero_complexo)

complex

In [17]:
numero_complexo.imag

5.0

In [18]:
numero_complexo.real

2.0

# Strings

In [102]:
# String com aspas simples
String1 = 'Fundamentos de Python no IGTI'
print("Strings com aspas simples")
print(String1)

Strings com aspas simples
Fundamentos de Python no IGTI

In [ ]:
# Strings com aspas duplas
String1 = "Fundamentos de Python no IGTI"
print("Strings com aspas simples")
print(String1)

In [19]:
s1 = "Esta é a disciplina"

In [20]:
s2 = "Aplicações em Deep Learning"

In [21]:
print(s1,s2)

Esta é a disciplina Aplicações em Deep Learning

In [22]:
print(s1+'\n'+s2)

Esta é a disciplina
Aplicações em Deep Learning

In [26]:
''.join([s1,s2])

'Esta é a disciplinaAplicações em Deep Learning'

In [25]:
s1[::-1]

'anilpicsid a é atsE'

# Listas

In [33]:
l1 = ['azul','branco','amarelo','vermelho']

In [34]:
l2 = list([1, 'coxinha',10,'pasteis',0.25e-3])

In [38]:
l3 = [1,2,3, ['a','b','c'], ['IGTI','ADL']]

In [39]:
print(l1,l2)

['azul', 'branco', 'amarelo', 'vermelho'] [1, 'coxinha', 10, 'pasteis', 0.00025]

In [40]:
print(l1)

['azul', 'branco', 'amarelo', 'vermelho']

In [41]:
print(l3)

[1, 2, 3, ['a', 'b', 'c'], ['IGTI', 'ADL']]

In [42]:
l1[0]

'azul'

In [43]:
l1[1]

'branco'

In [44]:
l1[1] + ' ' + l1[2]

'branco amarelo'

In [45]:
l2[1:3]

['coxinha', 10]

In [46]:
numeros = list(range(10))
numeros[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
numeros[2:5]

[2, 3, 4]

In [49]:
numeros*2 # concatenando listas

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
numeros + l2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 'coxinha', 10, 'pasteis', 0.00025]

In [51]:
l3

[1, 2, 3, ['a', 'b', 'c'], ['IGTI', 'ADL']]

In [52]:
l3[3]

['a', 'b', 'c']

In [53]:
l3[4]

['IGTI', 'ADL']

In [54]:
l3[3][1]

'b'

In [55]:
#adicionando elementos à lista
l3.append('Aplicações em Deep Learning')

In [56]:
l3

[1, 2, 3, ['a', 'b', 'c'], ['IGTI', 'ADL'], 'Aplicações em Deep Learning']

In [57]:
#retirando um elemento da lista
l3.pop(3)

['a', 'b', 'c']

In [58]:
l3

[1, 2, 3, ['IGTI', 'ADL'], 'Aplicações em Deep Learning']

### List parte 2

In [1]:
lista = []
lista.append(1)
print(lista)

[1]

In [4]:
lista2 = []
for i in range(0,10):
    lista2.append(i)
print(lista2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
lista3 = []
for i in range(0,10):
    lista3.insert(0,i)
print(lista3)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [12]:
lista4 = []
lista4.extend([1,2,3,4,5,6,7])
print(lista4)

[1, 2, 3, 4, 5, 6, 7]

In [13]:
lista4.remove(3) # Consigo remover o elemento pelo valor
print(lista4)

[1, 2, 4, 5, 6, 7]

In [14]:
lista4.pop()  # Remove o último elemento da lista
print(lista4)

[1, 2, 4, 5, 6]

In [15]:
# removendo um elemento de uma posição específica com pop()
lista4.pop(3)  # Método remove o valor através do índice
print(lista4)

[1, 2, 4, 6]

### Tuplas parte 2

In [19]:
#tuplas são imutáveis
#criando uma tupla através de uma lista
lista = [1,2,3,4,5]
print(f'Sou uma lista: {lista}')
print(f'Sou uma tupla: {tuple(lista)}')
print(type(tuple(lista)))

Sou uma lista: [1, 2, 3, 4, 5]
Sou uma tupla: (1, 2, 3, 4, 5)
<class 'tuple'>

In [21]:
#criando uma tupla através de palavra tuple()
tupla_2 = tuple('IGTI')
print(tupla_2)

('I', 'G', 'T', 'I')

# Conjuntos ou SET

In [59]:
l1 = [1,2,3,3,3,4,5,5,5,6,6,7,7,7,7,8,8] # cria uma lista com numeros repetidos

In [60]:
set(l1) #cria um conjunto através do método set()

{1, 2, 3, 4, 5, 6, 7, 8}

In [61]:
s1 = set(l1)

In [62]:
1 in s1

True

In [63]:
10 in s1

False

In [64]:
s2 = {3,5,10,11,12} # cria um conjunto através do { }

In [65]:
#operações com conjuntos
s1 - s2 # diferença entre conjuntos

{1, 2, 4, 6, 7, 8}

In [66]:
s1 | s2  # união de conjuntos

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12}

In [67]:
s1 & s2  # interseção de conjuntos

{3, 5}

In [68]:
s1 ^ s2  # elementos que não aparecem, ao mesmo tempo, em ambos

{1, 2, 4, 6, 7, 8, 10, 11, 12}

### Conjuntos parte 2

#### Desordenas, mútavies e sem elementos duplicados.

In [23]:
conjunto_A = set()
print(conjunto_A)
type(conjunto_A)

set()

set

In [24]:
conjunto_B = set('Python')
print(conjunto_B) # desordenado

{'h', 't', 'o', 'n', 'y', 'P'}

In [25]:
#criando um conjunto vazio
conjunto_A = set()
print('conjunto vazio')
print(conjunto_A)

conjunto vazio
set()

In [27]:
#Add elementos no conjunto
conjunto_A.add(1)
conjunto_A.add(3)
conjunto_A.add((6,7))
print(conjunto_A)

{1, 3, (6, 7)}

In [28]:
#add um conjunto de elementos no conjunto
conjunto_A.update([10, 11])  # add uma lista
print(conjunto_A)

{1, 3, 10, 11, (6, 7)}

In [30]:
#acessando elementos através de um loop
conjunto_A = (['Python', 'IGTI', 'Bootcamp'])
for i in conjunto_A:
    print(i, end=' ')

Python IGTI Bootcamp

#### removendo elementos de um conjunto

In [34]:
conjunto_A = set([1,2,3,4,5,6,7,8,9,10,11,12])
print(conjunto_A)

conjunto_A.remove(5)
print(conjunto_A)

conjunto_A.discard(6)
print(conjunto_A)

conjunto_A.pop() # diferentemente do que acontece em listas o pop() remove o primeiro elemento do conjunto
print(conjunto_A)

conjunto_A.clear()  # Remove todos elementos do conjunto
print(conjunto_A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}
{2, 3, 4, 7, 8, 9, 10, 11, 12}
set()

# Dicionários

In [69]:
d1 = {'azul' : 3, 'branco' : 4, 'verde' : 6, 'preto' : 1}

In [70]:
d1

{'azul': 3, 'branco': 4, 'verde': 6, 'preto': 1}

In [71]:
#recuperando itens de um dicionário
d1.get('azul')

3

In [72]:
d1['azul']

3

In [74]:
# adicionando valores
d1['amarelo'] =4
d1

{'azul': 3, 'branco': 4, 'verde': 6, 'preto': 1, 'amarelo': 4}

In [75]:
d1.keys()

dict_keys(['azul', 'branco', 'verde', 'preto', 'amarelo'])

In [76]:
d1.values()

dict_values([3, 4, 6, 1, 4])

In [77]:
# cria dicionário utilizando o método dict()
d2 = dict({'laranja' : 47, 'roxo' : 21, 'azul' : 58})
d2

{'laranja': 47, 'roxo': 21, 'azul': 58}

In [78]:
#atualizando o dicionário d1 utilizando o d2
d1.update(d2)
d1

{'azul': 58,
 'branco': 4,
 'verde': 6,
 'preto': 1,
 'amarelo': 4,
 'laranja': 47,
 'roxo': 21}

# Tuplas

In [79]:
# criando tuplas
t1 =(1,)
t1

(1,)

In [80]:
id(t1)

2297141763232

In [81]:
# midificar o conteúdo da tupla, modifica o endereço
t1 = t1 + (2,3,4,5,6)
t1

(1, 2, 3, 4, 5, 6)

In [82]:
id(t1)

2297141513664

In [83]:
# tuplas são imutáveis
t1[2] = 1000

TypeError: 'tuple' object does not support item assignment

In [84]:
tupla = (['IGTI','Disciplina'], ['Aplicações','Deep Learning'])
tupla[0]

['IGTI', 'Disciplina']

In [85]:
l1,l2 = tupla
print(l1,l2)

['IGTI', 'Disciplina'] ['Aplicações', 'Deep Learning']

In [86]:
print(l1)

['IGTI', 'Disciplina']

# Controle de Fluxo

### IF, ELIF and ELSE

In [89]:
variavel = 'azul'
if variavel == 'azul':
    print("Variável é azul")

Variável é azul

In [90]:
variavel = 'branco'
if variavel == 'azul':
    print('Variável é azul')
elif variavel == 'branco':
    print('Variável é branco')

Variável é branco

In [91]:
variavel = 'verde'
if variavel == 'azul':
    print('Variável é azul')
elif variavel == 'branco':
    print('Variável é branco')
else:
    print('Variável é verde')

Variável é verde

# Calculadora

In [3]:

num = float(input("Digite o primeiro número"))
num_2 = float(input("Digite o segundo número"))

print("""
        (+) - Soma os dois números
        (-) - Subtrai os dois números
        (*) - Multiplica os dois números
        (/) - Divide os dois números
""")

opcao = input("Digite a operação que você deseja fazer: ")

if opcao == "+":
    print(f"A soma entre {num} + {num_2} = {num + num_2}")
elif opcao == "-":
    print(f"A subtração entre: {num} - {num_2} = {num - num_2}")
elif opcao == "*":
     print(f"A multiplicação entre: {num} x {num_2} = {num * num_2}")
elif opcao == "/":
     print(f"A divisão entre: {num} / {num_2} = {num / num_2}")
else:
    print("Opção inválida.")

print("Fim do programa")

Digite o primeiro número5
Digite o segundo número5

        (+) - Soma os dois números
        (-) - Subtrai os dois números
        (*) - Multiplica os dois números
        (/) - Divide os dois números

Digite a operação que você deseja fazer: *
A multiplicação entre: 5.0 x 5.0 = 25.0
Fim do programa

### Loop FOR

In [92]:
# ilustrando loops
sequencia = range(0,5)
for num in sequencia:
    print(num)

0
1
2
3
4

In [96]:
sum = 0
for num in sequencia:
    sum += num
print(sum)

0
1
3
6
10

In [97]:
sequencia = range(0,5)
for num in sequencia:
    print(num)
else:
    print('loop terminou normalmente')

0
1
2
3
4
loop terminou normalmente

In [98]:
sequencia = range(0,5)
for num in sequencia:
    if num < 3:
        print(num)
    else:
        break
else:
    print('loop terminou normalmente')

0
1
2

### Loop While

In [100]:
num = 5
while num > 0:
    print(num)
    num -= 1

5
4
3
2
1

In [101]:
# exemplo de uma função que retorna o quadrado de um número
def retornaQuadrado(numero):
    return numero*numero

numero = 5
print('O quadrado de {} é: {}'.format(numero,retornaQuadrado(numero)))

O quadrado de 5 é: 25

# Trabalhando com exceções